<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mist PSK</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="static/styles.822f6b1c1b6b13077d8a.css"></head>

<body class="mat-typography">
    <div class="bg"></div>
    <app-root></app-root>

<script src="static/runtime-es2015.5087e8ae99d3e1ee25d4.js" type="module"></script><script src="static/runtime-es5.5087e8ae99d3e1ee25d4.js" nomodule defer></script><script src="static/polyfills-es5.6e1055b712d0b250b19e.js" nomodule defer></script><script src="static/polyfills-es2015.6022d6f28e0500e60d30.js" type="module"></script><script src="static/main-es2015.befe3ef9174f3a800d74.js" type="module"></script><script src="static/main-es5.befe3ef9174f3a800d74.js" nomodule defer></script></body>

</html>