<style>
    /* Chrome, Safari, Edge, Opera */
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<h1 mat-dialog-title>Create New PSK</h1>
<form [formGroup]="frmPsk" class="create-form">
    <div mat-dialog-content fxLayout="column">

        <mat-form-field appearance="outline">
            <mat-label>NAME</mat-label>
            <input matInput required formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>EMAIL</mat-label>
            <input matInput formControlName="user_email" />
        </mat-form-field>
        <div fxLayout="row">
            <mat-checkbox formControlName="renewable" (ngModelChange)="changeRenewable()">
                Enable Renewable PSK
                <span class="material-icons tooltip" matTooltip="Renewable PSK will automatically generate a PSK for you. Every time you are genereting a PSK for a same Name on the same SSID, the PSK will be the same">
                    help
                </span>
            </mat-checkbox>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" [hideRequiredMarker]="frmPsk.value.renewable">
                <mat-label>PSK</mat-label>
                <input matInput required formControlName="psk" [attr.disabled]="renewable" />
            </mat-form-field>
            <button mat-button (click)="generatePsk()" style="height: 55px;" [disabled]="renewable">Generate PSK</button>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>SSID</mat-label>
            <mat-select formControlName="ssid" required>
                <mat-option *ngFor="let wlan of data.wlans " [value]="wlan.ssid">
                    {{wlan.ssid}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>VLAN</mat-label>
            <input matInput type="number" formControlName="vlan_id" />
        </mat-form-field>
    </div>
    <div mat-dialog-actions style="justify-content: space-around;" fxLayout="row">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="accent" cdkFocusInitial (click)="confirm()" *ngIf="editing==true" [disabled]="frmPsk.invalid">Update</button>
        <button mat-raised-button color="accent" cdkFocusInitial (click)="confirm()" *ngIf="editing==false" [disabled]="frmPsk.invalid">Create</button>
    </div>
</form>